.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android/iOS generated secrets
android/key.properties
ios/Flutter/.last_build_id
